{{ define "main" }}
  <section class="section">
    <div class="content">
      <h2> Welcome! </h2>
      <p style="text-align: justify;">
        I'm <b> Dedy Puji </b>, a software developer which currently based in Indonesia 🇮🇩.
        I work remotely from Surabaya for a digital financial service company in Jakarta.
        The purposed of this blog is to be my learning note, so i can share something!.</br>
      </p>
      <p style="text-align: justify;">
        You may wonder, What is <b>walvisk</b>?. It's a made up name, a nickname, i use in every game i play.
        It comes from word <i>walvisc</i> in Dutch, which means whale in English.
        Why whale? Because one day, I hope i can meet those majestic creature, <i>ameeen.</i>
      </p>
      <p style="text-align: justify;">
        If you are interested about what i am currently working on at this current timeline, you can check <a href="/now">Now</a>.
      </p>
      <p style="text-align: justify;">
        By the way, you can reach me on Twitter or X at <a href="https://twitter.com/pujidjayanto">@pujidjayanto</a>
        or on Github <a href="https://github.com/walvisk">@walvisk</a>
      </p>
      <p style="text-align: justify;">
        <i> Alright! That'll be all. Have a good day folks! </i>
      </p>
    </div>
  </section>
{{ end }}